@font-face {
    font-family: 'Ubuntu';
    src: url('../../../../fonts/ubuntu-regular.woff2') format('woff2'),
         url('../../../../fonts/ubuntu-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'sharpie-extrabold';
    src: url('../../../../assets/fonts/sharpie/Sharpie-Extrabold.otf') format('truetype');
  }
  @font-face {
    font-family: 'ubuntu-medium';
    src: url('../../../../assets/fonts/ubuntu/Ubuntu-M.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ubuntu-bold';
    src: url('../../../../assets/fonts/ubuntu/Ubuntu-B.ttf') format('truetype');
  }


  
#footer{
        
    position: relative;
    height: 27vh;
    margin-top: 10vh;
   
}


/* ===========================
   POLICES & RESET
============================ */

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}


body {
    margin-top: 80px;
  }