  /* Importation des polices */
  @font-face {
    font-family: 'Ubuntu';
    src: url('../../../../fonts/ubuntu-regular.woff2') format('woff2'),
         url('../../../../fonts/ubuntu-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'sharpie-extrabold';
    src: url('../../../../assets/fonts/sharpie/Sharpie-Extrabold.otf') format('truetype');
  }
  @font-face {
    font-family: 'ubuntu-medium';
    src: url('../../../../assets/fonts/ubuntu/Ubuntu-M.ttf') format('truetype');
  }




      /* Réinitialisation */
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        font-family: 'Ubuntu', sans-serif;
        overflow-x: hidden;
        overflow-x: hidden;
        margin-top: 80px; 
      }

      
#footer{
        
    position: relative;
    min-height: 20vh;
   
}

.footer-pill-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 600px;
  }


/* Animation Shake */
@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  75% { transform: translate(-2px, -2px); }
  100% { transform: translate(0, 0); }
}